{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col col-lg-6 offset-lg-3">
                <h1>{% trans "Reset password" %}</h1>
                <p>{% trans "If you have an account with that email address, we'll have sent you an email with a link to reset your password." %}</p>
                <p>{% trans "If you didn't recieve an email:" %}</p>
                <ul>
                    <li>{% trans "check you have an account with the email address you entered; or" %}</li>
                    <li>{% trans "check your spam/junk folder." %}</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}
