{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col col-lg-6 offset-lg-3">
                <h1>{% trans "Reset password" %}</h1>
                <p>{% trans "Please enter the email associated with your account to request a password reset." %}</p>
                <form action="{% url 'icosa:password_reset' %}" method="post" novalidate>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary" type="submit">{% trans "Request password reset" %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
