{% extends "base.html" %}
{% load paginator_tags %}
{% load i18n %}

{% block extrahead %}
    {{ block.super }}
    <link rel="canonical" href="{% clean_url %}">
{% endblock extrahead %}

{% block content %}
<div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{% trans "Search results" %}</h1>
                <p>{% blocktrans count counter=result_count %}{{ counter }} result{% plural %}{{ counter }} results{% endblocktrans %}{% if search_query %} {% blocktrans with query=search_query %}for &ldquo;{{ query }}&rdquo;{% endblocktrans %}{% endif %}</p>
            </div>
        </div>
        <div class="sketch-list">
            {% for asset in assets %}
                {% include "partials/sketch_list_item.html" %}
            {% endfor %}
        </div>
        {% include "partials/pagination.html" %}
    </div>
</div>
{% endblock content %}
